<div class="box box-solid">
  <%= form_tag url: admin_settings_url, method: :post do %>
    <div class="box-body pad">
      <div class="form-group">
        <%= label_tag :admin_per_page, "Number of records per page" %>
        <%= number_field_tag :admin_per_page, Setting.admin_per_page, class: "form-control", placeholder: "20" %>
      </div>
    </div>
    <div class="box-footer">
      <%= submit_tag "Save", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
