<%= content_for :title, "Settings" %>

  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#general">General</a>
      </li>
      <li>
        <a data-toggle="tab" href="#admin">Admin</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="general">
        <%= render "general" %>
      </div>
      <div class="tab-pane" id="admin">
        <%= render "admin" %>
      </div>
    </div>
  </div>
